.thumb{
    width:250px;
    height:250px;
    position: relative;
    display: inline-block;
    margin:20px;
    cursor: pointer;
}

.thumb-img{
    width: 250px;
    height:270px;
    border-radius: 3%;
    opacity: 1;
    transition: 0.7s ease;
    background-color: #008CBA;
    overflow:hidden;
}
